.input-box {
    width: 360px;
    border: 1px solid #000;
}

.add-btn {
    padding: 10px;
    color: black;
    border: 1px solid #000;
    box-shadow: 0 0 8px #000;
}

.task-box {
    width: 400px;
    height: auto;
    border: 1px solid #000;
}

.delete-btn {
    border: none;
    width: 30px;
    height: 30px;
    background: url(https://www.pngfind.com/pngs/m/99-992375_png-file-delete-icon-svg-transparent-png.png) no-repeat center;
}